.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.home-title {
  font-size: larger;
}

.question-container {
  border: thick solid black;
  width: 500px;
  height: 150px;
  margin: 5px;
  flex-wrap: wrap;
  align-content: center;
}

.question-container-correct {
  border: thick solid green;
  width: 500px;
  height: 150px;
  margin: 5px;
  flex-wrap: wrap;
  align-content: center;
}

.question-container-wrong {
  border: thick solid red;
  width: 500px;
  height: 150px;
  margin: 5px;
  flex-wrap: wrap;
  align-content: center;
}

.question {
  padding: 5px;
}

.submit-button {
  border: 0;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  cursor: pointer;
  background-color: rgb(59, 119, 209);
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
}

.start-button {
  border: 0;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  cursor: pointer;
  background-color: rgb(59, 119, 209);
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
}