.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  background-color: #8EA0B8;
}
.home {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

.home-title {
  font-size: 8em;
}

.question-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.question-list {
  flex-direction: column;
  display: flex;
  overflow: hidden;
  position:relative;
}

.question-container {
  background-color: #566F90;
  border: thick solid black;
  margin: 5px;
  width: 550px;
  flex-wrap: wrap;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question-container-correct {
  border: thick solid green;
}

.question-container-wrong {
  border: thick solid red;
}

.question-number {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}

.question {
  padding: 5px;
  font-size: 20px;
}

.answer-list {

}

.submit-button {
  border: 0;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  cursor: pointer;
  background-color: #152F53;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
}

.start-button {
  border: 0;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  cursor: pointer;
  background-color: #152F53;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
}

.home-link {
  font-weight: bold;
  font-size: 30px;
  margin-left: 20px;
}